    body,
    ul,
    li,
    p {
        margin: 0px;
        padding: 0px;
        list-style: none;
        font-size: 1.2rem;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    a {
        text-decoration: none;
        color: aliceblue;
    }
    
    a:hover {
        background-color: #1d1e20;
    }
    /*estilização do header*/
    
    .header {
        background: #1d1e20;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }
    
    img {
        max-width: 150px;
        width: auto;
    }
    
    .menu {
        display: flex;
    }
    
    .menu li {
        margin-left: 10px;
    }
    
    .menu li a {
        display: block;
        padding: 10px;
    }
    /*fim estilização do header*/
    
    table {
        background: #e7e7e7;
        border: 20px solid #87cfeb00;
        border-spacing: 10px;
        margin-bottom: .5em;
        margin: auto;
        table-layout: fixed;
        width: 80%!important;
    }
    
    .links {
        position: relative;
        width: 200px;
        height: 50px;
        background: #5c5b5ba9;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 22px;
    }
    
    input {
        background: #fff;
        display: flex;
        border: 1px solid transparent;
        box-shadow: 0 2px 3px 1px rgb(64 60 67 / 16%);
        border-radius: 10px;
    }
    
    .aside {
        width: 40%;
    }
    
    .footer {
        margin-top: 10px;
        text-align: center;
    }
